#container {
    margin: 0 auto;
    width: 80%;
    margin-top: 15px;
}

h1 { font-size: 25px; }

#header {
    border: 1px solid black;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 10px;
}

#next-box {
    border: 1px solid black;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    padding: 15px;
}